/*  styles.css for the-deep directory  */

* {
    margin: 0;
    padding: 0;
}

.main-container {
    border: 3px dotted palegreen;
}

.logo {
    border: 2px solid brown;
    height: 200px;
    background-image: url(purpleChurch.jpg);
    background-position: center;
}

.main-body {
    border: 1px solid salmon;
    background-image: url(interior.jpg);
    height: 300px;
    background-position: center;
    
}

.button_container {
    border: 1px solid yellow;
    display: flex;
    justify-content: space-evenly;
    background-color: darkorchid;
}
#button1, #button2, #button3 {
    width: 250px;
    height: 100px;

}

.footer {
    border: 1px solid orange;
    background-image: url(churchArt.jpg);
    background-position: center;
    height: 200px;
}