/*  styles.css for the-deep directory  */

* {
    margin: 0;
    padding: 0;
}

.main-container {
    border: 3px dotted palegreen;
}

.logo {
    border: 2px solid brown;
    height: 200px;
}

.navbar {
    border: 1px solid blue;
}

.main-body {
    border: 1px solid salmon;
}

.footer {
    border: 1px solid orange;
}